<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>All products</h1>
    <ul>
      <% for(let p of products) {%>
      <a href="/products/<%= p.id %>"><li><%= p.name %></li></a>
      <% } %>
    </ul>
    <a href="/products/new">New Product</a>
  </body>
</html>
